---
import type { CollectionEntry } from 'astro:content'
import { slugifyText, slugifyPost } from '../utils/'

export interface Props {
	post: CollectionEntry<'posts'>
}

const { date: dateAsString, draft, tags, editHistory } = Astro.props.post.data
const date = new Date(dateAsString)
const year = date.getFullYear()
const dateIso = date.toISOString().slice(0, 10)
const dateReadable = date.toLocaleDateString('en-gb', {
	weekday: 'long',
	year: 'numeric',
	month: 'long',
	day: '2-digit',
})
const dateReadableWithoutYear = dateReadable.slice(0, -4)

const makeDateSimple = (date: Date) =>
	date.toLocaleDateString('en-gb', {
		weekday: undefined,
		year: 'numeric',
		month: 'long',
		day: undefined,
	})

const slug = slugifyPost(Astro.props.post)
---

<aside>
	<p>
		This article was written on
		<time datetime={dateIso}>
			<span style={{ viewTransitionName: `date-${slug}` }}
				>{dateReadableWithoutYear}</span
			>
			<a
				href={import.meta.env.BASE_URL + '/years/' + year}
				style={{ viewTransitionName: `year-${year}` }}
			>
				{year}</a
			>
		</time>
		by Duncan Ritchie.
	</p>

	{
		draft && (
			<p>
				<strong
					style={{
						viewTransitionName: `draft-${slug}`,
					}}
				>
					It is a draft.
				</strong>
			</p>
		)
	}

	{
		editHistory?.length && (
			<details class="edits-details">
				<summary>It has been edited since it was published.</summary>
				<ul class="edits">
					{editHistory.map(([editDate, description]) => (
						<li>
							{makeDateSimple(editDate)}: {description}
						</li>
					))}
				</ul>
			</details>
		)
	}

	{
		tags.length > 0 && (
			<div style="view-transition-name: tag-heading;">
				<p class="tags-intro">It is tagged as:</p>
				<ul class="tags">
					{tags.map((tag) => (
						<li>
							<a
								href={import.meta.env.BASE_URL + '/tags/' + slugifyText(tag)}
								style={{ viewTransitionName: slugifyText(tag) }}
							>
								{tag}
							</a>
						</li>
					))}
				</ul>
			</div>
		)
	}
</aside>

<style>
	aside {
		margin-top: 0;
		border-top: 0;
		text-align: center;
	}
	.edits-details {
		margin-bottom: 0.75rem;
	}
	.edits {
		padding: 0;
	}
	.tags-intro {
		display: inline;
	}
	.tags {
		padding: 0;
		margin-top: 0;
		display: inline-block;
	}
	.tags li,
	.edits li {
		list-style: none;
		margin: 0 0.125em;
	}
	.tags li a,
	.edits li {
		display: inline-block;
		border: 2px solid var(--colour6);
		padding: 0.25em 0.5em;
		margin-bottom: -2px;
	}
	.tags li {
		display: inline-block;
	}

	<style > @media not (prefers-reduced-motion: reduce) {
		aside {
			view-transition-name: post-intro;
		}
	}
</style>
