---
import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'

import TableOfContents from '../components/TableOfContents.astro'
import { addLinkBase, slugifyText, slugifyPost } from '../utils/'

export interface Props {
	post: CollectionEntry<'posts'>
	headings: MarkdownHeading[]
}

const { date: dateAsString, draft, tags, editHistory } = Astro.props.post.data
const date = new Date(dateAsString)
const year = date.getFullYear()
const dateIso = date.toISOString().slice(0, 10)
const dateReadable = date.toLocaleDateString('en-gb', {
	weekday: 'long',
	year: 'numeric',
	month: 'long',
	day: '2-digit',
})
const dateReadableWithoutYear = dateReadable.slice(0, -4)

const makeDateSimple = (date: Date) =>
	date.toLocaleDateString('en-gb', {
		weekday: undefined,
		year: 'numeric',
		month: 'long',
		day: undefined,
	})

const slug = slugifyPost(Astro.props.post)

const { headings } = Astro.props
const hasHeadings = headings.some((heading) => heading.depth > 1)
---

<aside data-has-view-transition style="view-transition-name: post-intro">
	<ul class="intro-not-toc">
		<li>
			<picture>
				<source
					media="(min-width:1201px)"
					srcset="https://www.duncanritchie.co.uk/android-chrome-192x192.png"
				/>
				<img
					id="fulmar-icon"
					src="https://www.duncanritchie.co.uk/favicon-96x96.png"
					alt="Duncan’s fulmar icon"
				/>
			</picture>
			This article by&nbsp;Duncan Ritchie is from
			<time datetime={dateIso}>
				<span
					data-has-view-transition
					style={{ viewTransitionName: `date-${slug}` }}
					>{dateReadableWithoutYear}</span
				>
				<a
					href={addLinkBase('years', year)}
					data-has-view-transition
					style={{ viewTransitionName: `year-${year}` }}
				>
					{year}</a
				></time
			>.
		</li>

		{
			draft && (
				<li>
					<strong
						data-has-view-transition
						style={{
							viewTransitionName: `draft-${slug}`,
						}}
					>
						It is a draft.
					</strong>
				</li>
			)
		}

		{
			tags.length > 0 && (
				<li
					data-has-view-transition
					style="view-transition-name: tag-heading;"
					class="tags"
				>
					It is tagged as:
					{tags.map((tag, index) => (
						<>
							<a
								href={addLinkBase('tags', slugifyText(tag))}
								data-has-view-transition
								style={{ viewTransitionName: slugifyText(tag) }}
							>
								{tag}
							</a>
							{index < tags.length - 1 ? ',' : null}
						</>
					))}
					.
				</li>
			)
		}

		{
			editHistory?.length && (
				<li>
					<details class="edits-details">
						<summary>It has been edited since it was published.</summary>
						<div class="edits-wrapper">
							<ul class="edits">
								{editHistory.map(([editDate, description]) => (
									<li>
										{makeDateSimple(editDate)}: {description}
									</li>
								))}
							</ul>
						</div>
					</details>
				</li>
			)
		}
	</ul>
	{hasHeadings && <TableOfContents headings={headings} />}
</aside>

<style>
	aside {
		margin-top: 0;
		border-top: 0;
		padding: 0;
		width: calc(100% - 0.25rem);
		border-left: none;
		border-right: none;
		z-index: 10;
		background: #ffffff30;
		--toc-width: 100%;
	}
	.intro-not-toc {
		list-style: none;
		display: flex;
		justify-content: start;
		align-content: start;
		flex-wrap: wrap;
		margin: 0.25rem 0 0;
		padding: 0.5rem 1rem 0;
		gap: 0.5rem 0.75rem;
	}
	.intro-not-toc:last-child {
		padding-bottom: 0.375rem;
	}
	#fulmar-icon {
		width: 1.5rem;
		height: 1.5rem;
		vertical-align: text-top;
		transform: translateY(-0.25rem);
		margin-right: 0.25rem;
		padding: 0;
		background-color: initial;
	}
	details > *:not(summary) {
		margin-top: 0.25rem;
		margin-inline: calc(-0.5rem);
		padding: 0;
		position: absolute;
	}
	.tags {
		padding: 0;
		margin-top: 0;
		display: inline-block;
	}
	.tags li,
	.edits li {
		list-style: none;
	}
	.tags li {
		margin: 0 0.25em;
	}
	.tags a {
		display: inline-block;
		margin-right: -0.375ch;
	}
	.edits-wrapper {
		left: 0.75rem;
		right: 0.75rem;
	}
	.edits {
		padding-left: 0;
		position: sticky;
		/* It would be nice if I could align the left side with the <summary>, but I can’t when the wrapper has absolute position.
		The	wrapper needs to have absolute position to avoid horizontal overflow. */
		left: calc(75% - 35ch);
		width: fit-content;
		z-index: 1;
		/* Background is the page background but lightened. The <nav> in <TableOfContents> has the same. */
		background-image: linear-gradient(#ffffff60), var(--page-background);
		background-size: 100% 100vh;
		background-attachment: fixed;
	}
	.edits li {
		border: 2px solid var(--colour6);
		padding: 0.25em 0.5em;
		margin-bottom: -2px;
	}
	@media (min-width: 80ch) {
		aside:has(> * + *) {
			display: grid;
			--toc-width: max(30ch, 20%);
			grid-template-columns: auto var(--toc-width);
		}
		aside:has(> * + *) .intro-not-toc {
			padding-bottom: 0.375rem;
		}
		.intro-not-toc {
			justify-content: space-around;
		}
		.edits-details {
			margin-bottom: 0.25rem;
		}
	}
</style>
