---
import { slugifyText } from '../utils/'

export interface Props {
	data: {
		date: string
		draft: boolean
		tags: string[]
		editHistory?: string[][]
	}
}

const { date: dateAsString, draft, tags, editHistory } = Astro.props.data
const date = new Date(dateAsString)
const year = date.getFullYear()
const dateIso = date.toISOString().slice(0, 10)
const dateReadable = date.toLocaleDateString('en-gb', {
	weekday: 'long',
	year: 'numeric',
	month: 'long',
	day: '2-digit',
})
const dateReadableWithoutYear = dateReadable.slice(0, -4)

const makeDateSimple = (date: string) =>
	new Date(date).toLocaleDateString('en-gb', {
		weekday: undefined,
		year: 'numeric',
		month: 'long',
		day: undefined,
	})
---

<aside>
	<p>
		This article was written on
		<time datetime={dateIso}>
			{dateReadableWithoutYear}
			<a href={import.meta.env.BASE_URL + 'years/' + year}> {year}</a>
		</time>
		by Duncan Ritchie.
	</p>

	{
		draft && (
			<p>
				<strong>It is a draft.</strong>
			</p>
		)
	}

	{
		editHistory?.length && (
			<details class="edits-details">
				<summary>It has been edited since it was published.</summary>
				<ul class="edits">
					{editHistory.map(([date, description]) => (
						<li>
							{makeDateSimple(date)}: {description}
						</li>
					))}
				</ul>
			</details>
		)
	}

	{
		tags.length > 0 && (
			<>
				<p class="tags-intro">It is tagged as:</p>
				<ul class="tags">
					{tags.map((tag) => (
						<li>
							<a href={import.meta.env.BASE_URL + 'tags/' + slugifyText(tag)}>
								{tag}
							</a>
						</li>
					))}
				</ul>
			</>
		)
	}
</aside>

<style>
	aside {
		margin-top: 0;
		border-top: 0;
		text-align: center;
	}
	.edits-details {
		margin-bottom: 0.75rem;
	}
	.edits {
		padding: 0;
	}
	.tags-intro {
		display: inline;
	}
	.tags {
		padding: 0;
		margin-top: 0;
		display: inline-block;
	}
	.tags li,
	.edits li {
		list-style: none;
		margin: 0 0.125em;
	}
	.tags li a,
	.edits li {
		display: inline-block;
		border: 2px solid var(--colour6);
		padding: 0.25em 0.5em;
		margin-bottom: -2px;
	}
	.tags li {
		display: inline-block;
	}
</style>
