---
export interface Props {
	type: 'post' | 'tag' | 'year'
	previous: string
	previousUrl: string
	next: string
	nextUrl: string
}

const { type, previous, previousUrl, next, nextUrl } = Astro.props
---

<div class="previous-next-links" data-has-view-transition data-pagefind-ignore>
	{
		previous && (
			<p class="previous">
				Previous {type}: <a href={previousUrl}>{previous}</a>
			</p>
		)
	}
	{
		next && (
			<p class="next">
				Next {type}: <a href={nextUrl}>{next}</a>
			</p>
		)
	}
</div>

<style>
	.previous-next-links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
		/* Could use padding-inline but browser support isn’t yet there. */
		padding-left: 1rem;
		padding-right: 1rem;
		margin-top: 4rem;
		border-top: 0.1875rem solid var(--colour6);
		view-transition-name: previous-next-links;
	}
	.previous {
		text-align: left;
		grid-column: 1 / 2;
	}
	.next {
		text-align: right;
		grid-column: 2 / 3;
	}
</style>
