---
import '../components/GlobalStyles.css'
import Footer from '../components/Footer.astro'
import ViewTransitionsInViewport from '../components/ViewTransitionsInViewport.astro'
import CssNakedDay from '../components/CssNakedDay.astro'

import { selfieUrl } from 'astro-selfie'

export interface Props {
	title: string
	description: string
	showBlogHomeLinkInFooter: boolean
	showRssLinkInFooter: boolean
}

const { title, description, showBlogHomeLinkInFooter, showRssLinkInFooter } =
	Astro.props

// Eg "http://localhost:4321/blog/mandarin-ducks" or "https://www.duncanritchie.co.uk/blog/mandarin-ducks"
const canonicalURL = Astro.url.href
// For Open Graph images, which are simply screenshots saved to the /public/og folder.
// In production, the `selfieUrl` function is buggy:
// it expects images to be at https://www.duncanritchie.co.uk/og/blog/*.png
// so the /og and the base URL need to be swapped.
// The function also gets wrong the URL for the screenshot for the homepage (/og/index.png).
const screenshotURL = selfieUrl(Astro)
	.href.replace(
		`/og${import.meta.env.BASE_URL}`,
		`${import.meta.env.BASE_URL}/og`,
	)
	.replace('/og.png', '/og/index.png')
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="og:image" content={screenshotURL} />

		<title>{title}</title>

		<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<link rel="canonical" href={canonicalURL} data-pagefind-meta="url[href]" />
		<base href={canonicalURL} />

		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/main.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/no-js.css"
		/>
		<link
			rel="stylesheet"
			media="print"
			href="https://www.duncanritchie.co.uk/css/print.css"
		/>
		<link
			rel="stylesheet"
			href="https://www.duncanritchie.co.uk/css/subsites.css"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.duncanritchie.co.uk/subsites.css"
			key="fonts"
		/>
		<link
			rel="icon"
			href="https://www.duncanritchie.co.uk/favicon.ico"
			type="image/x-icon"
		/>
		<link
			rel="icon"
			href="https://www.duncanritchie.co.uk/favicon-96x96.png"
			type="image/png"
		/>
	</head>
	<body>
		<CssNakedDay showBannerIfNotDay={false} />

		<slot />

		<Footer
			showBlogHomeLink={showBlogHomeLinkInFooter}
			showRssLink={showRssLinkInFooter}
		/>

		<ViewTransitionsInViewport />
	</body>
</html>
